* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

header {
    /* background: linear-gradient(87.16deg, #030034 1.98%, #B02356 53.85%, #FC9735 98.66%); */
    background-image: url(./src/bg-wave.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

img {
    max-width: 100%;
    object-fit: cover;
}

ul {
    display: flex;
    /* position: fixed;
    
    top: 0; */
    width: 100%;

    margin-top: 10px;

    justify-content: center;
}

li {
    list-style-type: none;
    padding-left: 4%;
    padding-right: 4%;
}

a {
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.space {
    height: 1000px;
}

.header-content {
    display: flex;
    flex-wrap: wrap;

    color: white;
    max-width: 100%;

    justify-content: center;
}

.cab {
    display: flex;
    justify-content: center;
    width: 100%;

}

.header-img {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    width: 40%;

    max-width: 100%;
}

.header-text {
    width: 40%;

    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 3em;

}

@media screen and (max-width: 900px) {
    .header-text {
        font-size: 2em;
    }

    header {
        background: linear-gradient(87.16deg, #030034 1.98%, #B02356 53.85%, #FC9735 98.66%);
    }
}

.animated {
    text-indent: 8px;
    font-weight: 700;
}

.animated:before {
    content: "Seja bem-vindo à";
    animation: topToBottom 5s infinite 0s;
}

@keyframes topToBottom {
    0% {
        content: "Seja bem-vindo à evolução!";
    }

    50% {
        content: "Seja bem-vindo à infocardsocial!";
    }

    100% {
        content: "Seja bem-vindo à Nova maneira!";
    }
}


/* content */

.content {
    margin-top: 50px;
    text-align: center;
}

.content h1 {
    font-size: 60px;
    color: #9D1F52;

}

.content h2 {
    font-size: 40px;
    color: #9D1F52;

    margin-top: 15px;
}

.content hr {
    margin: auto;
    margin-top: 15px;
    max-width: 40%;

    border: 2px #9D1F52 solid;

}

@media screen and (max-width: 900px) {
    .content h1 {
        font-size: 2em;

    }

    .content h2 {
        font-size: 1.5em;

    }
}