* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

header {
    /* background: linear-gradient(87.16deg, #030034 1.98%, #B02356 53.85%, #FC9735 98.66%); */
    background-image: url(./src/bg-wave.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

img {
    max-width: 100%;
    object-fit: cover;
}


li {
    list-style-type: none;
    padding-left: 4%;
    padding-right: 4%;
    
}


ul {
    display: flex;
    /* position: fixed;
    
    top: 0; */
    width: 100%;

    justify-content: center;

    position: fixed;

    background: linear-gradient(87.16deg, rgba(3, 0, 52, 0.8) 1.98%, rgba(176, 35, 86, 0.8) 100.00%);
    height: 30px;
    align-items: center;
    
}



a {
    font-weight: 700;
    color: white;
    text-decoration: none;
}



.space {
    height: 100px;
}

.header-content {

    display: flex;
    flex-wrap: wrap;

    color: white;
    max-width: 100%;

    justify-content: center;
}

.cab {
    display: flex;
    justify-content: center;
    width: 100%;

}

.header-img {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    width: 40%;

    max-width: 100%;
}


.header-text {
    width: 40%;

    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 3em;

}

@media screen and (max-width: 900px) {

    .header-content {

        display: flex;
        flex-wrap: wrap;
    
        color: rgb(248, 248, 248);
        text-shadow: 2px 2px 0px #9D1F52;
    
        justify-content: center;

    }

    header {
        display: flex;

        justify-content: center;
        align-items: center;
        text-align: center;


        background-image: url(./src/bg-works.jpg);
        background-repeat: no-repeat;
        background-size: 100vw;

        margin-top: 50px;
    }

    .header-img {
        display: none;
        width: 0%;

        max-width: 0%;
    }

    .header-text {
        width: 100%;

        display: flex;

        height: 100vw;
        width: 100vw;

        justify-content: center;
        align-items: center;
        text-align: center;

        font-size: 3em;
        padding: 20px;

    }

    .space {
        height: 50px;
    }

    ul {
        display: none;
        /* position: fixed;
        
        top: 0; */
        width: 100%;

        justify-content: center;

        position: none;

        background: linear-gradient(87.16deg, rgba(3, 0, 52, 0.8) 1.98%, rgba(176, 35, 86, 0.8) 100.00%);
        height: 30px;
        align-items: center;
    }
}

.animated {
    text-indent: 8px;
    font-weight: 700;
}

.animated:before {
    content: "Seja bem-vindo à";
    animation: topToBottom 5s infinite 0s;
}

@keyframes topToBottom {
    0% {
        content: "Seja bem-vindo à evolução!";
    }

    50% {
        content: "Seja bem-vindo à infocardsocial!";
    }

    100% {
        content: "Seja bem-vindo à Nova maneira!";
    }
}


/* content */

.content {
    text-align: center;
}

.content h1 {
    font-size: 60px;
    color: #9D1F52;
    font-weight: 400;

}

.content h2 {
    font-size: 40px;
    color: #9D1F52;

    margin-top: 15px;
    font-weight: 400;

}

.content hr {
    margin: auto;
    margin-top: 15px;
    max-width: 40%;

    border: 2px #9D1F52 solid;

}

@media screen and (max-width: 900px) {
    .content h1 {
        font-size: 2em;

    }

    .content h2 {
        font-size: 1.5em;
    }
}

/* PRODUTO */

.product {
    display: flex;

    max-width: 100%;

    justify-content: center;
}

.product h3 {
    color: black;
    font-weight: 400;
}

.fcol {
    width: 25%;
    display: flex;

    flex-direction: column;
    justify-content: space-around;

    margin: 15px;
}

.scol {
    max-width: 30%;

    display: flex;
    text-align: center;
}

.tcol {
    width: 25%;

    flex-direction: column;
    justify-content: space-around;

    padding: 15px;

}

.box_prod {
    font-size: 1em;

    border-bottom: #9D1F52 3px solid;
    box-shadow: 2px 2px 2px 1px rgba(146, 146, 146, 0.2);


    background-color: #F6F6F6;
    height: 85px;

    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 20px;

    margin-bottom: 25px;

    padding: 20px;
}

.img_mob {
    width: 0%;
    display: none;
}

@media screen and (max-width: 900px) {
    .fcol {
        width: 50%;
        display: flex;

        flex-direction: column;
        justify-content: space-around;

        margin: 15px;
    }

    .scol {
        max-width: 0%;

        display: flex;
        text-align: center;
    }

    .tcol {
        width: 50%;

        flex-direction: column;
        justify-content: space-around;

        padding: 15px;

    }

    .img_mob {
        width: 100%;
        display: flex;
    }

}


/* TRABALHOS */

.works {
    /* background-image: url(./src/bg-works.svg); */
    background: linear-gradient(87.16deg, #030034 1.98%, #B02356 53.85%, #FC9735 98.66%);

}

.works h1 {
    font-size: 40px;
    color: #f3f3f3;
    font-weight: 400;
}

.works hr {
    margin: auto;
    margin-top: 15px;
    max-width: 40%;

    border: 2px #f3f3f3 solid;
    border-radius: 2px;

}

.works_itens {

    padding-top: 100px;
    padding-bottom: 150px;

    display: flex;

    align-items: center;
    justify-content: center;
}

.slides {

    display: flex;
    width: 85%;

    text-align: center;
    justify-content: space-evenly;

    overflow: hidden;

}

.works_itens .arrow {
    opacity: 0;
}

@media screen and (max-width: 900px) {

    .works_itens {

        display: flex;

        height: 100%;

        align-items: center;
        justify-content: space-evenly;
    }

    .works_itens .arrow {
        opacity: 0.7;
    }

    .slides {
        justify-content: flex-start;

        display: block;

        width: 300px;
        text-align: center;
        overflow: hidden;

    }

    .slides {
        display: flex;

        overflow-x: auto;
        scroll-snap-type: x mandatory;

        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;

    }

    .slides::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .slides::-webkit-scrollbar-track {
        background: transparent;
    }

    .slides>div {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        margin-right: 50px;

        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
    }
}

/* BUY */

.buy h1 {
    font-size: 40px;
    color: #9D1F52;
    font-weight: 400;
}

.buy_class {
    display: flex;
    justify-content: center;

}

.buy_box {
    font-family: 'Urbanist', sans-serif;

    background-color: #F6F6F6;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(146, 146, 146, 0.2);

    color: #9D1F52;

    margin: 20px;

    min-height: 300px;
    min-width: 250px;

    display: flex;
    justify-content: center;

    flex-direction: column;
}

.buy_box h3 {
    font-weight: 400;

    padding-bottom: 25px;
}

.buy_box h4 {
    font-weight: 400;
}

.buy_box_correction {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;

}

.buy_box_price {
    font-weight: 200;
    font-size: 3em;
}

.btn button {
    background: linear-gradient(91.53deg, #FA7827 7.98%, #9F244C 103.12%);
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(146, 146, 146, 0.2);


    height: 100px;
    width: 300px;

    color: #F6F6F6;
    font-weight: 700;
    font-size: 1.5em;
}

.buy_box button {
    background: linear-gradient(91.53deg, #FA7827 7.98%, #9F244C 103.12%);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(146, 146, 146, 0.2);


    height: 50px;
    width: 100px;

    color: #F6F6F6;
    font-weight: 700;
    font-size: 1em;
}

@media screen and (max-width: 900px) {
    .buy_class {
        display: flex;
        flex-wrap: wrap;
    }
}

footer {
    background: linear-gradient(87.16deg, #030034 1.98%, #B02356 53.85%, #FC9735 98.66%);
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}